body {
  background-color: #37474f ;
}

nav {
  font-family: 'Jim Nightshade', cursive;
  font-size: 24px;
  padding: 20px 50px;
}

.navbar-inverse {
  background-color: #222;
  width: 100%;
  border: none;
  border-radius: 0;
  margin-bottom:0px;
}

.navbar-inverse .navbar-brand {
	font-size: 36px;
  color: #ffbf00;
  border: none;
}
.intro{
  width:99vw;
  height: calc(100vh - 50px);
  background:linear-gradient(
      rgba(55, 71, 79, 0),
      rgba(55, 71, 79, 0),
      rgba(55, 71, 79, 0),
      rgba(55, 71, 79, 1)
    ),url("http://i.imgur.com/dDznL1V.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom:150px;
}

#middle-earth {
  font-family: 'Jim Nightshade', cursive;
}

h3 a {
  font-family: 'Jim Nightshade', cursive;
  color: #ffbf00;
}

h3 a:hover {
  font-family: 'Jim Nightshade', cursive;
  color: white;
  text-decoration: none;
}

.instruction {
  color:#fff;
  font-family: 'Jim Nightshade', cursive;
  text-align: center;
  font-size: 45px;
}
.cities {
  text-align: center;
}

.img-size {
  width: 80vw;
  clear: both;
}

.img-size .text {
  position: relative;
  bottom: 30px;
  left: 0px;
  visibility: hidden;
}

.profile-image-small {
	display: block;
	max-width: 80px;
	padding: 0;
	margin: 0 0 10px;
	float: left;
}

float-fix {
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.city{
  padding: 20px;

}

.city-show-image-container {
	width:80%;
	max-height: 500px;
  display: block;
  margin: 0 auto;
	overflow: hidden;
  padding:50px;
}

.city-show-image {
	background-size: cover;
	width: 100%;
	height: auto;

}

.city-show-posts{
  width:40%;
  margin:0 auto;
  padding:50px;
}
.city-name {
  text-align: center;
  color:#fff;
  font-family: 'Jim Nightshade', cursive;
  font-size:48px;
  margin:20px;
}

.city-title-overlay {
	visibility: hidden;
  display: block;
}
.city-image:hover .city-title-overlay {
	visibility: visible;
	font-family: 'Jim Nightshade', cursive;
	font-size: 86px;
	color: #fff;
	text-align: center;
	text-decoration: none !important;
	padding-top:210px;
}

.new-post{
margin:10px 20px;
}
.profile-image-small{
  border-radius: 5px;
}
.commenter{
  padding-left:20px;
  font-weight: bold;
}
.user-profile-section-small {
	max-width: 80px;
	font-size: 18px;
	padding: 0;
	margin: 0 30px 0 0;
	float: left;
}
.post-content{
  display: inline;
}
.bold-name{
  font-weight: bold;
}
.user-post-section-wide {
	min-width: 70%;
	padding: 0;
	margin: 0;
}

.user-post-section-wide h2 {
	padding: 0;
	margin: 0;
}

.bottom-margin {
	margin: 0 0 40px !important;
}
.edit-cntr{
  float:right;
  padding-left:40px;
}
