// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user-histroy{
  color:#fff;
}
.user-post-section h2 {
  text-align: center;
  color:#ffbf00;
  font-family: 'Jim Nightshade', cursive;
  font-size: 50px;
  width:80%;
}

.user-post-block {
  width: 100%;
  padding: 0;
  margin: 0 0 30px;
}

h3.user-post-title {
	font-size: 36px;
  font-family: sans-serif;
}
a.edit-post-button{
	color:#fff;
	text-decoration: none;
}
