// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user-histroy{
  margin-top:50px;
}
.user-post-section h2 {
  text-align: center;
  color:#ffbf00;
  font-family: 'Jim Nightshade', cursive;
  font-size: 50px;
  clear:both;
}

#user-profile-section{
  color:#fff;
}
.user-post-block {
  width: 80%;
  padding: 30px;
}
.user-post-block a {
  font-size:20px;
  color:#fff;
}

h3.user-post-title {
	font-size: 36px;
  font-family: sans-serif;
}
a.edit-post-button{
	color:#fff;
	text-decoration: none;
}
.controllers{
  float:right;
}
